<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="Film" packages="">
    <properties>
        <property name="LOG_HOME">D:/log</property>
        <property name="CONSOLE_LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight{%-5level} --- [%thread] [%style{%C{5}}{normal,cyan}] [%L] : %msg%n</property>
    </properties>
    <Appenders>
        <!--控制台-->
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${CONSOLE_LOG_PATTERN}"/>
        </Console>
        <!--文件-->
        <RollingFile name="RollingFile" fileName="${LOG_HOME}/film_log4j.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{yyyy-MM-dd-HH}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="24" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>