<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bowensun.film.repository.RoleDao">

    <resultMap id="BaseResultMap" type="com.bowensun.film.domain.SysRole">
        <id column="id" property="id"/>
        <result column="available" property="available"/>
        <result column="description" property="description"/>
        <result column="role" property="role"/>
    </resultMap>

    <sql id="Base_Column_List">
      id, available, description,role
    </sql>

    <!--查询列表-->
    <select id="selectByUserName" resultMap="BaseResultMap">
        select
          t1.*
        from
          sys_role t1
          left join sys_user_role t2 on (t1.id = t2.role_id)
          left join user_info t3 on (t2.uid = t3.uid)
        where
        t3.username = #{username}
    </select>
</mapper>